In [1]:
# Lo primero que hacemos es importar todas las librerias necesarias.
import pandas as pd
import numpy as np

In [2]:
# Abrimos el dataset y hacemos un chequeo rápido para saber cantidad de registros y miramos la composición del mismo.
filename = "../dataset/dataset_rosario.csv"
data = pd.read_csv(filename)

display(data.sample(n=2))

,Unnamed: 0.1,Unnamed: 0,property_type,place_name,place_with_parent_names,state_name,lat-lon,lat,lon,price_aprox_local_currency,...,price_per_m2,floor,rooms,expenses,description,title,ciudad_chica,price_usd_per_m2_median,price_per_m2_median,expenses_category
3935,100130,100130.0,apartment,Rosario,|Argentina|Santa Fe|Rosario|,Santa Fe,"-33.16667,-60.75",-33.166670,-60.750000,1118212.24,...,37666.666667,NaN,NaN,0.0,Sergio Villella Inmobiliaria presenta departam...,Departamento - Macrocentro,Rosario,1641.594734,29192.45283,Sin Expensas
1923,44896,44896.0,apartment,Rosario,|Argentina|Santa Fe|Rosario|,Santa Fe,"-32.93875560000001,-60.6576955",-32.938756,-60.657696,20291175.00,...,37096.774194,449.0,1.0,0.0,1119-MC089: Rosario: Rodriguez 449 Studio VIII...,Monoambiente en venta en Rosario: Rodriguez 449,Rosario,1641.594734,29192.45283,Sin Expensas

Desde acá hacemos la limpieza final.

Primero filtramos por departamentos.

In [3]:
data = data[(data.property_type=="apartment")]
data.loc[data['price_aprox_usd']<1000,'price_aprox_usd'] = np.nan
data.dropna(subset=['price_aprox_usd'], inplace=True)

In [4]:
#Revisamos el nuevo tamaño
data.shape

(4649, 24)

# TODO Alberto -> crear columnas de distrito y barrio. Hacer gráfico.

In [12]:
# TODO